body {
    background-color: #e6e6e6;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1em;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

#welcome {
    text-align: center;
    padding-top: 1em;
}

.line {
    border-style: solid;
    border-width: 2px;
    border-color: #8a25b1;
}

.container {
    padding-top: 1.5em;
}

#signUp {
    padding-top: 1em;
    text-align: center;
}


/* Documentation page styles */
#documentationNavbar {
    background-color: #8a25b1
}

#documentationNavbar a {
    color: white;
}

.table tr.toggler {
    cursor: pointer;
}

.table tr.toggler:hover {
    background-color: lightcyan;
}

.table{
    background-color: #fff !important;
}

.hiddenRow {
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}
.accordian-body span{
    color:#a2a2a2 !important;
}
