body {
    background-color: #e6e6e6;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

#welcome {
    text-align: center;
    padding-top: 1em;
}

#welcomeToSlack2Slack {
    text-align: center;
}

.line {
    border-style: solid;
    border-width: 2px;
    border-color: #8a25b1;
}

.container {
    padding-top: 1.5em;
}

#signUp {
    padding-top: 1em;
    text-align: center;
}